<div class="list-group-item d-flex align-items-center">
  
  <div class="form-check me-3">
    <input class="form-check-input" type="checkbox" [(ngModel)]="task.completed" (change)="onCheckboxChange()">
  </div>

  <span *ngIf="category && !isEditing" class="badge rounded-pill me-2" [style.background-color]="category.color">
    {{ category.name }}
  </span>

  <span *ngIf="!isEditing" 
        [class.text-decoration-line-through]="task.completed"
        [class.text-muted]="task.completed"
        class="flex-grow-1 user-select-none" 
        (dblclick)="startEdit()">
    {{ task.text }}
  </span>

  <input *ngIf="isEditing" type="text" class="form-control me-2" 
         [(ngModel)]="editedTaskText" (blur)="saveEdit()" (keyup.enter)="saveEdit()" (keyup.escape)="cancelEdit()" autofocus>

  <div *ngIf="task.image_url" class="ms-2">
    <a [href]="task.image_url" target="_blank">
      <img [src]="task.image_url" class="rounded border" style="width: 40px; height: 40px; object-fit: cover;">
    </a>
  </div>

  <button class="btn btn-link text-danger ms-3" (click)="onRemoveClick()">
    <i class="bi bi-trash"></i>
  </button>
  
</div>