<div class="container mt-5" style="max-width: 700px;">
  
  <header class="text-center mb-4">
    <div class="d-flex justify-content-between align-items-center">
      <h1>Minhas Tarefas</h1>
      <button class="btn btn-outline-danger btn-sm" (click)="onLogout()">
        <i class="bi bi-box-arrow-right"></i> Sair
      </button>
    </div>
  </header>

  <div class="input-group mb-4">
    <span class="input-group-text"><i class="bi bi-search"></i></span>
    <input type="text" class="form-control" placeholder="Buscar tarefa..." [(ngModel)]="searchTerm">
  </div>

  <app-task-form (taskAdded)="addTask($event)"></app-task-form>
  
  <ul class="list-group shadow-sm mt-4">
    <app-task-item 
      *ngFor="let task of tasks | filterTasks:searchTerm"
      [task]="task"
      (remove)="removeTask($event)"
      (edit)="handleEdit($event)"
    >
    </app-task-item>
  </ul>

  <div *ngIf="(tasks | filterTasks:searchTerm).length === 0" class="alert alert-info mt-3 text-center">
    Nenhuma tarefa encontrada.
  </div>
</div>